.parent{
    overflow :hidden;
    white-space: nowrap;
}
.scroll
{
    width:100%;
    overflow: hidden;
}
.text{
    display: inline-block;
    animation: scroll 49s linear 0.1s infinite ;
}
@keyframes scroll {
    0%
    {
        transform: translateX(-70%);
    }
    100%
    {
        transform: translateX(100%);
    }
}

